//
   Created by oliveira on 22/04/16.

html
    body
        h1 Login to Web App
        form(method='post', action='login/login')
            p
                input(type='text', name='login', value='', placeholder='Username or Email')
            p
                input(type='password', name='password', value='', placeholder='Password')
            p
                input(type='text', name='door', value='', placeholder='door')
            p.remember_me
                label
                    input#remember_me(type='checkbox', name='remember_me')
                    |             Remember me on this computer
            p.submit
                input(type='submit', name='commit', value='Login')