//Created by oliveira on 22/04/16.

html
    body
        h1 Register to Web App
        form(method='post', action='/admin/door')
            p
                input(type='text', name='door', value='', placeholder='door')
            p
                input(type='text', name='pin', value='', placeholder='pin')
            p.remember_me
                label
                    input#remember_me(type='checkbox', name='remember_me')
                    |             Remember me on this computer
            p.submit
                input(type='submit', name='commit', value='Login')